repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # shellcheck mirror removed: some environments have limited network access and the mirrors repo may not be available.
  # If you want shellcheck enabled, add it back or install shellcheck locally and add a local hook.

  - repo: local
    hooks:
      - id: repo-safety-check
        name: repo safety check
        entry: scripts/check-for-bloat.sh
        language: script
        files: ^(?!)(.*)$
        verbose: true

  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python imports)
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear"]
